
.header {
  background-color: #fafafa;

  font-weight: bold;
  font-size: 22px;
}




.header-title {
  color: #ff6600;
  font-size: 40px;
  
}


.icon {
 
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ff6600;
}
